* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;

}

#tema {
    background-color: pink;
    text-align: left;
    padding: 10px 5px;
    position: fixed;
    top: 25px;
    left:5px;
    font-size: 15px;
    border-radius: .5%;
}
audio {
    background: lightgrey;
    height: 50px;
    width: 100%;
}

#container {
    background-color:white;
    width: 70%;
    margin: 25px auto;
    border: solid;
    border-radius:.5%;
}

header {
    background: teal;
    text-align: center;
    padding: 1%;
    color:white
}

form {
    margin: 5%;
    width: 70%;

}

fieldset {
    border: 0px;
}

input[type="text"]
input[type="data"]
input[type="number"]
#country,
input[type="email"]
input[type="password"]
textarea {
    border: 1px solid purple;
    display:block;
    margin: 10px auto;
    padding: 2%;
    width: 100%;

}

input[type="radio"] {
    margin-top:1.5%;
}

#submitbutton {
    background: lightblue;
    padding: 10px 15px;
    float: left;
    cursor: pointer;
    margin-right: 15px;
}

#submitbutton:hover {
    filter: brightness(115%);
}
#restButton {
    background: lightblue;
    padding: 10px 15px;
    color:white;
    float:right;
    cursor: pointer;
}
#restButton:hover {
    filter: brightness(115%)
}

#part-1 label:after {
    content: " *";
    color:red;
}
#part-2 label:after {
    content: " *";
    color:red
}
textarea {
    resize:none;
}
@media all and (min-width:0px) and (max-width:320px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 100%;
        margin-top: 20%;
    }
    #restButton {
        float: left;
    }
}
 @media all and (min-width: 321px) and (max-width:480px) {
     h1 {
         font-size:22px;
     }
     h2 {
         font-size:20px;
     }
     #container {
         width: 90%;
         margin-top: 13%;
     }
     #restButton {
         float:left;
     }
     @media all and (min-width: 481px) and (max-width:560px) {
        h1 {
            font-size:22px;
        }
        h2 {
            font-size:20px;
        }
        #container {
            width: 90%;
            margin-top: 10%;
        }
        @media all and (min-width: 481px) and (max-width:560px) {
            h1 {
                font-size:22px;
            }
            h2 {
                font-size:20px;
            }
            #container {
                width: 90%;
                margin-top: 10%;
            }
            @media all and (min-width: 569px) and (max-width:768px) {
                h1 {
                    font-size:22px;
                }
                h2 {
                    font-size:20px;
                }
                #container {
                    width: 90%;
                    margin-top: 7%;
                }
            }
