h1 {
    background-color: #191970;
    color: #e6e6fa;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-indent: 1em;
    text-shadow: 3px 3px 5px #cccccc;
    text-align: center;
 }   
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-Right: auto;
}

body {
    background-color: #e6e6fa;
    color: #191970
}
h2 {
    background-color: #Aeaed4;
    color: #191970;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
nav  {
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: 1em;
}
nav a {
    text-decoration: none;
}
.company {
    font-weight: bold;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.25em;
}
p {
    font-size: .90em;
    text-indent: 1em;
}
ul {
    font-weight: bold; 
}
.important {
    color: #c70000;
}
footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
}